@font-face {
  font-family: 'gloss';
  src: url("../fonts/gloss.ttf") format("truetype");
}
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(60px, 10px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
  }
}
@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px);
  }
  65% {
    -moz-transform: translate(60px, 10px);
  }
  to {
    -moz-transform: translate(0px, 0px);
  }
}
@-webkit-keyframes Floatingx2 {
  from {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(-60px, -30px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
  }
}
@-moz-keyframes Floating2 {
  from {
    -moz-transform: translate(0, 0px);
  }
  50% {
    -moz-transform: translate(-60px, -30px);
  }
  to {
    -moz-transform: translate(0px, 0px);
  }
}
/* line 60, ../sass/screen.scss */
.esconde {
  display: none;
}

/* line 64, ../sass/screen.scss */
body #background {
  overflow: hidden;
  position: absolute;
  height: 5000px;
  width: 100%;
  z-index: 10;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  background-color: #12161a;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF12161A', endColorstr='#FF0F1E26');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyMTYxYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBmMWUyNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #12161a), color-stop(100%, #0f1e26));
  background-image: -moz-linear-gradient(left bottom, #12161a 0%, #0f1e26 100%);
  background-image: -webkit-linear-gradient(left bottom, #12161a 0%, #0f1e26 100%);
  background-image: linear-gradient(to right top, #12161a 0%, #0f1e26 100%);
  background-color: #0f1e26;
}
/* line 81, ../sass/screen.scss */
body #background .intro {
  height: 600px;
}
/* line 85, ../sass/screen.scss */
body #background #logo-cacife {
  align-self: center;
  margin-top: 50px;
  z-index: 10;
  opacity: 0;
  transition: all 2s ease-out;
}
/* line 102, ../sass/screen.scss */
body #background #logo-cacife.aparece {
  opacity: 1;
}
/* line 108, ../sass/screen.scss */
body #background #clouds {
  position: fixed;
}
/* line 110, ../sass/screen.scss */
body #background #clouds #cloud1 {
  float: left;
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  position: absolute;
  left: 540px;
}
/* line 115, ../sass/screen.scss */
body #background #clouds #cloud2 {
  float: right;
  -webkit-animation-name: Floatingx2;
  -webkit-animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating2;
  -moz-animation-duration: 18s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  position: absolute;
  left: -400px;
  top: 100px;
}
/* line 124, ../sass/screen.scss */
body #background .rodape {
  z-index: 10;
  text-align: center;
  padding: 32px;
  font-family: gloss;
  color: white;
  font-size: 62px;
}
/* line 131, ../sass/screen.scss */
body #background .rodape a {
  color: white;
}
